@{
    ViewBag.Title = "Where to eat";

}
@{
    ViewBag.Header = "Notice";
    ViewBag.Barbeque = "Barbeque Restaurants";
    ViewBag.Buffet = "Buffet Restaurants";
    ViewBag.FastCasual = "Fast casual Restaurants";
    ViewBag.FastFood = "Fast food Restaurants";
    ViewBag.SlowFood = "Slow food Restaurants";
    ViewBag.Cafes = "Cafés‎";
    ViewBag.Pizza = "Pizzerias";
}

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-7"></div>
            <div class="hero">
                <hgroup>
                    <h1 class="white">Where to eat?</h1>
                    <h4 class="white">We wish you to have a pleasant experience</h4>
                </hgroup>
            </div>
        </div>
        </div>
    </div>

        <!-- ========== Where to eat ========== -->

        <div class="sadrzaj">
            <h3>@ViewBag.Header</h3>
            <hr />
            <h4>Answer the following questions about the places below></h4>
            <p>
                <ul>
                    <li>What type of cuisine?</li>
                    <li>What food do they serve?</li>
                    <li>How much money you need to pay for food?</li>
                    <li>Do they serve breakfast, lunch, dinner?</li>
                    <li>Include the amount of seats, include the menu, do they have specials?</li>
                    <li>Include working hours, does it have WIFI etc.</li>
                    <li>Include few pictures, or just one, then when users click on Learn more button, take them to a new page with more detailed information about the place.</li>
                    <li>Local community location?</li>
                </ul>

                Please note that Barbeque, Buffet, Fast-casual, Fast food are types of restaurants.
            </p>
            <form style="display: inline" action="http://drinago.azurewebsites.net/Home/Notice" method="get">
                <button class="btn btn-hero btn-lg" role="button">Learn more</button>
            </form>
        </div>
        <br />
        <!-- ###################################################################### -->
        <!-- Klasifikacija -->
        <div class="naziv">
            <h3 class="bojaslova" align="center">@ViewBag.Barbeque</h3>
        </div>
        <!-- Kraj klasifikacije -->
        <!-- ###################################################################### -->
        <br />
        <div class="fontvelicina">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                </div>
            </div>
            <br />
            <!-- ###################################################################### -->
            <!-- Klasifikacija -->
            <div class="naziv">
                <h3 class="bojaslova" align="center">@ViewBag.Buffet</h3>
            </div>
            <!-- Kraj klasifikacije -->
            <!-- ###################################################################### -->
            <br />

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!-- ###################################################################### -->
        <!-- Klasifikacija -->
        <div class="naziv">
            <h3 class="bojaslova" align="center">@ViewBag.FastCasual</h3>
        </div>
        <!-- Kraj klasifikacije -->
        <!-- ###################################################################### -->
        <br />
        <div class="fontvelicina">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                </div>
            </div>
            <br />
            <!-- ###################################################################### -->
            <!-- Klasifikacija -->
            <div class="naziv">
                <h3 class="bojaslova" align="center">@ViewBag.FastFood</h3>
            </div>
            <!-- Kraj klasifikacije -->
            <!-- ###################################################################### -->
            <br />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!-- ###################################################################### -->
        <!-- Klasifikacija -->
        <div class="naziv">
            <h3 class="bojaslova" align="center">@ViewBag.SlowFood</h3>
        </div>
        <!-- Kraj klasifikacije -->
        <!-- ###################################################################### -->
        <br />
        <div class="fontvelicina">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 align="center">Naziv</h4>
                        <hr />
                        <p align="justify">
                            <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                            <br />
                            How many rooms does it have?
                            How much money does it cost to rent a room for a night, two, three?
                            Do they serve breakfast, lunch, dinner?
                            Include the amount of seats, include the menu, do they have specials?
                            Include working hours, does it have WIFI etc.
                            <br />
                        </p>
                        <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                        <br />
                    </div>
                </div>
            </div>

            <div class="naziv">
                <h3 class="bojaslova" align="center">@ViewBag.Cafes</h3>
    </div>
    <br />

    <div class="fontvelicina">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h4 align="center">Naziv</h4>
                    <hr />
                    <p align="justify">
                        <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                        <br />
                        How many rooms does it have?
                        How much money does it cost to rent a room for a night, two, three?
                        Do they serve breakfast, lunch, dinner?
                        Include the amount of seats, include the menu, do they have specials?
                        Include working hours, does it have WIFI etc.
                        <br />
                    </p>
                    <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                </div>
                <div class="col-md-3">
                    <h4 align="center">Naziv</h4>
                    <hr />
                    <p align="justify">
                        <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                        <br />
                        How many rooms does it have?
                        How much money does it cost to rent a room for a night, two, three?
                        Do they serve breakfast, lunch, dinner?
                        Include the amount of seats, include the menu, do they have specials?
                        Include working hours, does it have WIFI etc.
                        <br />
                    </p>
                    <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                </div>
                <div class="col-md-3">
                    <h4 align="center">Naziv</h4>
                    <hr />
                    <p align="justify">
                        <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                        <br />
                        How many rooms does it have?
                        How much money does it cost to rent a room for a night, two, three?
                        Do they serve breakfast, lunch, dinner?
                        Include the amount of seats, include the menu, do they have specials?
                        Include working hours, does it have WIFI etc.
                        <br />
                    </p>
                    <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                </div>
                <div class="col-md-3">
                    <h4 align="center">Naziv</h4>
                    <hr />
                    <p align="justify">
                        <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                        <br />
                        How many rooms does it have?
                        How much money does it cost to rent a room for a night, two, three?
                        Do they serve breakfast, lunch, dinner?
                        Include the amount of seats, include the menu, do they have specials?
                        Include working hours, does it have WIFI etc.
                        <br />
                    </p>
                    <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- ###################################################################### -->
    <!-- Klasifikacija -->
    <div class="naziv">
        <h3 class="bojaslova" align="center">@ViewBag.Pizza</h3>
    </div>
    <!-- Kraj klasifikacije -->
    <!-- ###################################################################### -->
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h4 align="center">Picollo</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://52.29.34.251/Home/Notice">Learn more</a></p>
            </div>
            <div class="col-md-3">
                <h4 align="center">Monza II</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://52.29.34.251//Home/Notice">Learn more</a></p>
            </div>
            <div class="col-md-3">
                <h4 align="center">Monza</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://52.29.34.251/Home/">Learn more</a></p>
            </div>
            <div class="col-md-3">
                <h4 align="center">Corner Doner</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://52.29.34.251/Home/Notice">Learn more</a></p>
            </div>
        </div>
    </div>
</div>

<style>
    .section1,
    .section2,
    .section3,
    .section4 {
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border-radius: 3px;
    }

    .bojaslova {
        color: blue;
    }
</style>
